.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.6);
  width: 1125px;
  height: 750px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  width: 657px;
  margin: -467px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 826px;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 660px;
    margin-top: 45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -415px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 506px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: -312px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-image-1 {
    height: 380px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -256px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-bottom: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 232px;
    margin-top: -180px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 113px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1840px;
}

.u-section-2 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1750px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 299px;
  width: 500px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 19px 35px 0;
}

.u-section-2 .u-text-3 {
  margin: 21px 35px 0;
}

.u-section-2 .u-image-2 {
  height: 299px;
  width: 500px;
  margin: 87px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 20px 35px 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 35px 0;
}

.u-section-2 .u-image-3 {
  height: 299px;
  width: 500px;
  margin: 87px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 20px 35px 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 35px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1750px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 1px 1px;
}

.u-section-2 .u-image-4 {
  height: 299px;
  width: 500px;
  margin: 59px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px 35px 0;
}

.u-section-2 .u-text-9 {
  margin: 19px 35px 0;
}

.u-section-2 .u-image-5 {
  height: 299px;
  width: 500px;
  margin: 87px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 20px 35px 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 35px 0;
}

.u-section-2 .u-image-6 {
  height: 299px;
  width: 500px;
  margin: 87px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: 20px 37px 0 33px;
}

.u-section-2 .u-text-13 {
  margin: 20px 35px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1443px;
  }

  .u-section-2 .u-image-1 {
    height: 239px;
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 239px;
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-image-3 {
    height: 239px;
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1533px;
  }

  .u-section-2 .u-image-4 {
    height: 239px;
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 238px;
    width: 400px;
    margin-top: 86px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-image-6 {
    height: 238px;
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 7px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1549px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 179px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 179px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1549px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 179px;
    width: 300px;
    margin-right: 30px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 30px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 30px;
    margin-left: 31px;
  }

  .u-section-2 .u-image-5 {
    height: 178px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 178px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 267px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 267px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3069px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1492px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 169px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 201px;
}

.u-section-3 .u-shape-1 {
  width: 1061px;
  height: 114px;
  margin: 44px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }
}