 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a841cb55485134ab71b8b211b6552b4c028fb2d4af7a99d79d1a0a1429b9c9dff25d2e2bd8d4df0e693d0b6961d618f81dc6e26b581911fa99e420_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 885px;
}

.u-section-1 .u-text-1 {
  margin: 399px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-text-1 {
  margin: 35px 637px 0 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 35px;
  margin-top: 35px;
}

.u-section-2 .u-repeater-1 {
  min-height: 402px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/9a13fc1bf5b89704ad5c3cd8e3019777a84aaebf210ca3e68b6ef83ecfed2f3a988c038d4324b9f0bbb7ecf709ba687a591a496d67d66a2d4a2faa_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/c5337ead21263be0b75289c81405d7f43a45798f8872bbd52553a9dcb7a9132bb4e26564fa745629b165bdb355b779742db72832f15e4750ac431f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/740dad5fae5abfbbcbaa4d20b5761f01cc829b04e5359eb45499caad5f921d93e9e559984902fdbcbdfcde89bf97363f8cf25c43dc033df20c4214_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-4 {
  background-image: url("https://pixabay.com/get/g7d51a08a619a13fc1bf5b89704ad5c3cd8e3019777a84aaebf210ca3e68b6ef83ecfed2f3a988c038d4324b9f0bbb7ecf709ba687a591a496d67d66a2d4a2faa_1280.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-5 {
  background-image: url("https://pixabay.com/get/g7d51a08a619a13fc1bf5b89704ad5c3cd8e3019777a84aaebf210ca3e68b6ef83ecfed2f3a988c038d4324b9f0bbb7ecf709ba687a591a496d67d66a2d4a2faa_1280.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-text-10 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-6 {
  background-image: url("https://pixabay.com/get/g7d51a08a619a13fc1bf5b89704ad5c3cd8e3019777a84aaebf210ca3e68b6ef83ecfed2f3a988c038d4324b9f0bbb7ecf709ba687a591a496d67d66a2d4a2faa_1280.jpg");
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-text-12 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-7 {
  background-image: url("https://pixabay.com/get/g7d51a08a619a13fc1bf5b89704ad5c3cd8e3019777a84aaebf210ca3e68b6ef83ecfed2f3a988c038d4324b9f0bbb7ecf709ba687a591a496d67d66a2d4a2faa_1280.jpg");
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-text-14 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-image-8 {
  background-image: url("https://pixabay.com/get/g7d51a08a619a13fc1bf5b89704ad5c3cd8e3019777a84aaebf210ca3e68b6ef83ecfed2f3a988c038d4324b9f0bbb7ecf709ba687a591a496d67d66a2d4a2faa_1280.jpg");
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-2 .u-text-16 {
  font-size: 2.25rem;
  width: 290px;
  margin: 240px auto 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.125rem;
  background-image: none;
  margin: 7px 21px 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 56px;
  height: 56px;
  top: 173px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: auto;
  top: 173px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 437px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 217px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 37px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1863px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1816px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 140px 0 0;
}

.u-section-3 .u-image-1 {
  height: 317px;
  width: 563px;
  margin: 42px auto 0;
}

.u-section-3 .u-image-2 {
  height: 317px;
  width: 563px;
  margin: -317px auto 0;
}

.u-section-3 .u-image-3 {
  height: 317px;
  width: 563px;
  margin: -317px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px 40px 0;
}

.u-section-3 .u-text-3 {
  margin: 6px 40px 0;
}

.u-section-3 .u-image-4 {
  height: 317px;
  width: 563px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: 14px 40px 0;
}

.u-section-3 .u-text-5 {
  margin: 6px 40px 0;
}

.u-section-3 .u-image-5 {
  height: 317px;
  width: 563px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: 14px 40px 0;
}

.u-section-3 .u-text-7 {
  margin: 6px 40px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 70px auto 0;
  padding: 8px 60px 8px 59px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1805px;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-3 .u-shape-1 {
  width: 349px;
  height: 349px;
  margin: 21px auto 0;
}

.u-section-3 .u-group-1 {
  width: 349px;
  min-height: 490px;
  margin: 70px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 0 15px;
}

.u-section-3 .u-group-2 {
  width: 303px;
  min-height: 56px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 2px 14px 0;
}

.u-section-3 .u-group-3 {
  min-height: 56px;
  width: 303px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 2px 14px 0;
}

.u-section-3 .u-group-4 {
  min-height: 56px;
  width: 303px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 15px 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: 2px 14px 0;
}

.u-section-3 .u-group-5 {
  min-height: 56px;
  width: 303px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 15px 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 2px 14px 0;
}

.u-section-3 .u-group-6 {
  min-height: 56px;
  width: 303px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 15px 14px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: 2px 0 0;
}

.u-section-3 .u-group-7 {
  width: 349px;
  min-height: 387px;
  margin: 29px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-3 .u-text-15 {
  margin: 15px 0 0;
}

.u-section-3 .u-form-1 {
  height: 154px;
  width: 289px;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
}

.u-section-3 .u-group-8 {
  width: 349px;
  min-height: 374px;
  margin: 64px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-16 {
  width: 162px;
  margin: 0 auto;
}

.u-section-3 .u-image-6 {
  width: 271px;
  height: 148px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-17 {
  margin: 14px 123px 0 9px;
}

.u-section-3 .u-text-18 {
  margin: 7px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1899px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 17px;
  }

  .u-section-3 .u-image-1 {
    height: 293px;
    width: 520px;
    margin-top: 48px;
  }

  .u-section-3 .u-image-2 {
    height: 293px;
    width: 520px;
    margin-top: -293px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 293px;
    width: 520px;
    margin-top: -293px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 293px;
    width: 520px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    height: 293px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1899px;
  }

  .u-section-3 .u-shape-1 {
    height: 305px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 300px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 269px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    width: 269px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    width: 269px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-5 {
    width: 269px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-6 {
    width: 269px;
  }

  .u-section-3 .u-group-7 {
    width: 300px;
  }

  .u-section-3 .u-form-1 {
    width: 240px;
  }

  .u-section-3 .u-group-8 {
    width: 300px;
  }

  .u-section-3 .u-image-6 {
    width: 241px;
    height: 132px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 83px;
    margin-left: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1914px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 217px;
    width: 385px;
  }

  .u-section-3 .u-image-2 {
    height: 217px;
    width: 385px;
    margin-top: -217px;
  }

  .u-section-3 .u-image-3 {
    height: 216px;
    width: 384px;
    margin-top: -216px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 217px;
    width: 385px;
    margin-top: 135px;
  }

  .u-section-3 .u-image-5 {
    height: 217px;
    width: 385px;
    margin-top: 110px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1885px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 300px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 473px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-2 {
    width: 185px;
  }

  .u-section-3 .u-group-3 {
    width: 185px;
  }

  .u-section-3 .u-group-4 {
    width: 185px;
  }

  .u-section-3 .u-group-5 {
    width: 185px;
  }

  .u-section-3 .u-group-6 {
    width: 185px;
  }

  .u-section-3 .u-group-7 {
    min-height: 390px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-14 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-8 {
    min-height: 390px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-16 {
    width: 165px;
  }

  .u-section-3 .u-image-6 {
    height: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3458px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1548px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -19px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 97px;
  }

  .u-section-3 .u-image-2 {
    height: 235px;
    margin-top: -235px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 293px;
    margin-top: -293px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    height: 224px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    height: 224px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1882px;
  }

  .u-section-3 .u-group-1 {
    min-height: 484px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-2 {
    width: 450px;
  }

  .u-section-3 .u-group-3 {
    width: 450px;
  }

  .u-section-3 .u-group-4 {
    width: 450px;
  }

  .u-section-3 .u-group-5 {
    width: 450px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 17px;
  }

  .u-section-3 .u-group-6 {
    width: 450px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-7 {
    min-height: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-group-8 {
    min-height: 371px;
    margin-top: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-16 {
    width: 161px;
  }

  .u-section-3 .u-image-6 {
    height: 327px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1660px;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    width: 320px;
  }

  .u-section-3 .u-image-2 {
    height: 145px;
    margin-top: -199px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 150px;
    margin-top: -150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-4 {
    height: 180px;
    margin-top: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-5 {
    height: 180px;
    margin-top: 110px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1806px;
  }

  .u-section-3 .u-group-1 {
    min-height: 477px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-group-3 {
    width: 320px;
  }

  .u-section-3 .u-group-4 {
    width: 320px;
  }

  .u-section-3 .u-group-5 {
    width: 320px;
  }

  .u-section-3 .u-group-6 {
    width: 320px;
  }

  .u-section-3 .u-group-7 {
    min-height: 410px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-15 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-16 {
    width: 171px;
  }

  .u-section-3 .u-image-6 {
    height: 201px;
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-17 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-18 {
    margin-top: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 201px;
}

.u-section-4 .u-shape-1 {
  width: 1061px;
  height: 114px;
  margin: 44px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }
}